<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">



        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="bootstrap.min.css">
        
        
        
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></linl>
     



   <link rel="stylesheet" href="faq.css">
   
    <title>FAQ</title>
</head>
<body>

      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/faq">
                    <img src="download.jpg"> FAQ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/diet">Diet Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exrecise">30 Days Challenge</a>
              </li>
            </div>           
    </nav>



  <button class="button" onclick="myFunction()"><span>Dark mode</span></button>
<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
    <section>
      <img class="egg" src="easteregg.jpg" alt="">
      <img class="iconimg" src="icon.jpg" alt="" />
    </section>
  <section class="header">
  <h2>Some Of The Frequently Asked Questions</h2>
</section>
<button type="button" class="collapsible">What Is the Best Way to Lose Fat?</button>
<div class="content">
  <p>The simple (and complex) answer is that there is no “best way” to lose fat. Each person will respond differently to a training program. However, there are some principles you can apply when designing your programs.
    It is often assumed that low-intensity exercise is best for burning fat. During exercise at a very low intensity, fat does account for most of the energy expenditure, while at a moderate intensity, fat accounts for only about 50 percent of the energy used. However, since the number of calories used per minute is much greater at a moderate to high intensity than at a low intensity, the total number of calories expended during a moderate- to high-intensity workout is greater than it is during a low- intensity workout of the same duration; consequently, the total number of fat calories expended is also greater during the higher-intensity workout. 
  </p>
</div>
<button type="button" class="collapsible">If I Lift Weights,
  Will I Get Bigger Muscles?</button>
<div class="content">
  <p>Whether or not you will get bigger muscles (hypertrophy) depends on three basic factors: genetics, gender and training intensity. Genetics is mostly manifested as muscle fiber type; people with predominantly fast-twitch fibers acquire larger muscles more easily than people with predominantly slow-twitch fibers. In relation to gender, males acquire larger muscles than females do, because males have greater amounts of testosterone and other sex hormones that influence protein metabolism (Tipton 2001). Thus, females experience less muscle hypertrophy with strength improvement than males do (Lewis et al. 1986). Training intensity is the only factor you can control.</p>
</div>
<button type="button" class="collapsible"> Should I Do Cardio First
  or Weight Training First?</button>
<div class="content">
  <p>If the primary goal is to increase aerobic endurance or lose weight, then the client should perform cardiovascular exercise first. If the primary goal is to increase muscular strength, then the person should perform strength training first. Basically, in order to get the most out of the workout, the person should perform the most important type of exercise when he or she is not fatigued. Because many person want to lose weight and increase muscular strength, alternating the order of the workout during different cycles of training is one way to satisfy both goals.</p>
</div>
<button type="button" class="collapsible">Do I Need to Take
  Dietary Supplements?</button>
<div class="content">
  <p>For those who eat a balanced diet, there is no evidence that muscle-building supplements, including protein powders and amino acids, build muscle mass (Clarkson 1998; Eichner et al. 1999). The few supplements whose muscle-building potential is supported by research (e.g., creatine) are effective mostly in elite athletes who have undergone many years of training (Eichner et al. 1999).</p>
</div>
<button type="button" class="collapsible">Why Are My Muscles
  Sore After a Workout?</button>
<div class="content">
  <p>Soreness results from high force production when an exercise is new or a load is greater than normal. Furthermore, eccentric muscle contractions (in which the muscle lengthens, as when lowering a weight) cause more soreness in the days following the workout than either isometric contractions (in which the muscle does not change length, as when holding a weight) or concentric contractions (in which the muscle shortens, as when lifting a weight). This soreness in the days after exertion is called delayed onset muscle soreness (DOMS) (Armstrong 1984; Clarkson & Sayers 1999). Although many people think that lactic acid is the cause of muscle soreness, the fact is that lactic acid (lactate) is removed from the muscles within 30 to 60 minutes after exercise, so it is long gone by the time soreness develops. Muscle soreness results from an immediate mechanical injury and a biochemical injury occurring a few days after the workout.</p>
</div>
<button type="button" class="collapsible">How Often Should I Work Out/Lift Weights?</button>
<div class="content">
  <p>According to the American College of Sports Medicine (ACSM), one should exercise 20 to 60 minutes, three to five days a week for health/fitness promotion. Exercising only three days a week may be enough for previously sedentary person to improve their fitness, but it will take more exercise to see further improvements. Improvements in aerobic power (VO2 max), cholesterol levels, body composition and cardiovascular health are all augmented the more often you exercise (Duncan et al. 1991; Gettman et al. 1976; Milesis et al. 1976). However, it is important that your clients do not progress too soon or exercise excessively, since both these behaviors can lead to overuse injuries.</p>
</div>
<button type="button" class="collapsible">My question is not listed here?</button>
<div class="content">
  <p>If u still have any question fell free to contact us, you can email any one of us
    <address>
      <a href="mailto:chirag.suman2025@gmail.com">Chirag Sinha</a>
      <a href="mailto:itz.aman.av@gmail.com">Aman Verma</a>
      <a href="mailto:sarvan.kaza21@gmail.com">Sarvan</a>
    </address>
  </p>
</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>





<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>