<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FITNESS</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-transperent">
        <a class="fitlogo navbar-brand" href="#"
          ><span class="logospan">Fit</span><span class="navspan">ness</span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navcl collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto p-3">
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><span class="navspan">30 Days Challenge</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><span class="navspan">Diet plan</span></a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="navspan">Advanced fitness channels</span>
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a
                  class="dropdown-item"
                  href="https://www.youtube.com/user/KozakSportsPerform"
                  >HASfit</a
                >
                <a
                  class="dropdown-item"
                  href="https://www.youtube.com/channel/UCn8Fiasqd-6G3A6AS322mZA"
                  >FitMuscle TV</a
                >
                <a
                  class="dropdown-item"
                  href="https://www.youtube.com/user/BeFit"
                  >BeFiT</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="navspan">FAQ</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="mainsec">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="para">
              <h2 class="mainsech2">
                <span class="mainsecfit">Fit</span>ness is not a destination ,
                it is a way of life
              </h2>
              <p class="parag">
                Fitness is one of the most important aspect of your life. Even
                if you have money, if you're not fit and healthy, it's nothing.
              </p>
              <a class="knowmore" href="#">Know more</a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="img">
              <img class="manimg" src="fit2.jpg" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- ikkada -->
      <section class="midsec">
        <div class="container">
          <div class="matter">
            <p class="matterp">Fitness depends on two factors</p>
            <p class="matterp2">
              One will be the diet plan and another will be exercise. However
              the diet plan makes 80% change and exercise makes 20%. But we
              can't neglect both as both are crucial.
            </p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="left">
                <img class="dietimg" src="food.jpg" alt="" />
                <p class="dietp">
                  The diet plan plays major role in the weight you loose and
                  gain. Without a proper diet plan, fitness is nothing!
                </p>
                <h4>Click here to know your proper diet plan</h4>
                <!-- yahape a link main hash hain na.. vo hi diet plan ka link hain -->
                <a class="dietplink" href="#">Diet plan</a>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="right">
                <img class="exerimg" src="exercise.jpg" alt="" />
                <p class="excerp">
                  Not only the diet plan, but exercise plan will also play a
                  crucial role. Daily execrise can enhance your metabolism!
                </p>
                <h4>Click here to know your proper exercise plan</h4>
                <!-- yahape a link main hash hain na.. vo hi exercise plan ka link hain -->
                <a class="excerplink" href="#">30 days challenge</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="lastsec"></section>
      <!-- ikkada -->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
