*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'serif', cursive;
}
.banners
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background-image:  linear-gradient(rgba(0,196,0,.1), rgba(255,235,245,.9)),url(bgfood.jpg);
    background-size: cover;
}
.banners h2
{
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1em;
    margin-bottom: 10px;
}
p
{
    position: relative;
    font-size: 18px;
    font-weight:300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding: 20px;
}
h3
{
    position: relative;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox h3 p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

