<<<<<<< HEAD
body {
    padding: 25px;
    background-color: #fff;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #77777765;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #3fbdb6;
  }
  h2
  {
      text-align: center;
  }
  .button
  {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .button:hover {
    background-color: RoyalBlue;
  }
  .header
  {
      padding: 10px;
      position: relative;
      width: 100%;
      background: url(faq.css);
=======
body {
    padding: 25px;
    background-color: #fff;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #77777765;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #3fbdb6;
  }
  h2
  {
      text-align: center;
  }
  .button
  {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .button:hover {
    background-color: RoyalBlue;
  }
  .header
  {
      padding: 10px;
      position: relative;
      width: 100%;
      background: url(faq.css);
>>>>>>> 728b1d4d5192423dc12c487a12fb1304e17fb7cb
  }