*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'serif', cursive;
}
.iconimg {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}
.egg
{
  display: inline;
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}
body {
  padding: 25px;
  background-color: #ececec;
  color: black;
  font-size: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #77777765;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #3fbdb6;
}
h2
{
    text-align: center;
}
.button
{
  border-radius: 4px;
  background-color: #77777765;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.header
{
    padding: 10px;
    position: relative;
    width: 100%;
    background: url(faq.css);
}




