body {
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
}
.container-fluid {
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
.bg-primary {
  background-color: #e3e7f1 !important;
}
.fitlogo {
  text-transform: uppercase;
}

.navspan {
  color: black;
}
.navspan:hover {
  color: #85a392;
}
.logospan {
  color: #00bcd4;
}
.navcl ul li {
  margin: 0 10px;
}
.navcl {
  color: white;
}
.mainsec {
  height: auto;
}
.row {
  position: relative;
}
.img {
  position: absolute;
  top: 135px;
}
.manimg {
  width: 75%;
  margin-left: 3rem;
}
.mainsech2 {
  text-transform: uppercase;
  margin: 3rem 0 3rem 0;
}
.mainsecfit {
  color: #00bcd4;
}
.parag {
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 50px;
}
.para {
  text-align: center;
  line-height: 3;
  padding: 1rem;
  margin: 5rem 10px;
}
.knowmore {
  text-transform: uppercase;
  color: white;
  background-color: #f78259;
  border-radius: 20px;
  padding: 15px 35px;
  text-decoration: none;
}
.knowmore:hover {
  background-color: #eb4559;
  text-decoration: none;
  color: #fcf8f3;
  box-shadow: 1px 2px 5px black;
}
.dropdown-menu {
  background-color: #f78259;
  padding: 30px;
}
.matterp {
  text-align: center;

  font-weight: bold;
  font-size: 30px;
  line-height: 3;
  margin-top: 375px;
}
.midsec {
  margin-top: -45px;
  width: 100%;
}
.matterp2 {
  text-align: center;
}
.dietp {
  text-align: center;
  margin-top: 100px;
}
.left {
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.dietplink {
  text-transform: uppercase;
  color: white;
  background-color: #f78259;
  border-radius: 20px;
  padding: 15px 35px;
  text-decoration: none;
}
.dietplink:hover {
  background-color: #eb4559;
  text-decoration: none;
  color: #fcf8f3;
  box-shadow: 1px 2px 5px black;
}
.left h4 {
  margin-bottom: 73px;
}
.right {
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.excerp {
  text-align: center;
  margin-top: 100px;
}
.excerplink {
  text-transform: uppercase;
  color: white;
  background-color: #f78259;
  border-radius: 20px;
  padding: 15px 35px;
  text-decoration: none;
}
.excerplink:hover {
  background-color: #eb4559;
  text-decoration: none;
  color: #fcf8f3;
  box-shadow: 1px 2px 5px black;
}
.right h4 {
  margin-bottom: 40px;
}
.dietimg {
  width: 60%;
}
.exerimg {
  width: 60%;
  height: 246px;
  margin-bottom: 5px;
}
.lastsec {
  height: 10vh;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222831;
    color: white;
  }
  .navspan {
    color: black;
  }
}
